* {
    background-color: lightblue;
}
.title {
    text-align: center;
}
.button {
    position: absolute;
    margin: 0 auto;
    display: block;
    background-color: lightgreen;
    width: 40%;
    font-size: 50px;
    cursor: pointer;
    left: 1500px;
}
.button2 {
    position: absolute;
    background-color: #3B8DFA;
    width: 30%;
    margin: 0 auto;
    display:block;
    font-size: 55px;
    border: 2px, green;
    cursor: pointer;
    left: 1500px;
}
.button3 {
    position: absolute;
    background-color: #A92FF5;
    width: 25%;
    margin: 0 auto;
    display:block;
    font-size: 40px;
    border: 2px,red;
    cursor: pointer;
    left: 1500px;
}
.rectangle1 {
    position: absolute;
    width: 2050px;
    height: 10000px;
    background: blue;
    right: 1550px;
    top: -500px;
}
.rectangle2 {
    position: absolute;
    width:600px;
    height:10000px;
    background: blue;
    right: -2550px;
    top: -500px;
}